.app-picker {
    max-height: 90%;
    overflow: auto;
}

.app-table {
    width: 100%;
}

.buttons .button {
    width: 29%;
    display: inline-block;
    margin: 0 1%;
    padding: 1%;
    font-size: 1.25rem;
    font-weight:  bold;
}

.buttons .button.selected {
    background: #21a01d;
}

.app-picker {
    margin: 1em 0.5em;
    max-height: 800px;
    padding-bottom: 4rem;
    position: relative;
}

.app-picker form {
    max-height: 700px;
    overflow: auto;
}

.app-picker legend {
    font-size: 150%;
}

.app-picker fieldset {
    padding: 1em;
    border: 1px solid #eee;
    max-height: 450px;
}

.select-button {
    width: 100%;
    text-align: right;
    position: fixed;
    right: 4rem;
    top: 5.2rem;
}

.select-button .button {
    font-size: 1.8rem;
    padding: 0.4rem;
}