{% extends "admin/profiles/profile/change_list.html" %}
{% load i18n %}

{% block content %}
    <form method='post' action='.'>
        {% csrf_token %}
        <h1>{% trans "Export Profiles" %}</h1>
        <table>
            <tr>
                <th>{% trans "Total Profiles To Export" %}</th>
                <td>{{ profiles.count }}</td>
            </tr>
            {% if app_count %}
            <tr>
                <th>{% trans "Standard Profiles" %}</th>
                <td>{{ profile_count }}</td>
            </tr>
            <tr>
                <th>{% trans "Application Profiles" %}</th>
                <td>{{ app_count }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>{% trans "Include Linked Profiles" %}</th>
                <td><input name='include_linked' checked='checked' type='checkbox' /> 
                    {% blocktrans %}Select this option to include linked profiles. If this option
                    is not selected, only the registers and settings specified directly in 
                    the selected profiles will be exported.{% endblocktrans %}
                </td>
            </tr>
            {% if app_count %}
            <tr>
                <th>{% trans "Remap App Paths" %}</th>
                <td><input name='remap' type='checkbox' /> 
                    {% blocktrans %}If you intend the selected app profiles on other systems where
                    installation paths may differ, it is possible to select this option. This will
                    convert all matching from "exact path" to "filename" only, but may cause issues 
                    if the application in question shares a filename with other apps.{% endblocktrans %}
                </td>
            </tr>
            {% endif %}
            <tr><th colspan='2'>{% trans "Profiles To Export" %}</th></tr>
            {% for profile in profiles %}<tr>
                <th><input type='checkbox' name='profile_{{ profile.pk }}' checked='{% if profile.active %}checked{% endif %}' />
                    {% if profile.appprofile %}{% trans "Application Profile" %}{% else %}{% trans "Standard Profile" %}{% endif %}
                </th><td>{{ profile }}</td>
            </tr>{% endfor %}
        </table>
        <div class="submit-row">
            <p class="deletelink-box"><a href="{% url "admin:profiles_profile_changelist" %}" class="deletelink">{% trans "Cancel" %}</a></p>
            <input type="submit" value="{% trans "Export Checked Profiles" %}" class="default" name="export" />
        </div>
    </form>
{% endblock %}