{% extends "./export.html" %}
{% load i18n %}

{% block content %}
<form method='post' action='.' enctype='multipart/form-data'>
    {% csrf_token %}
    <h1>{% trans "Import Profiles" %}</h1>
    <div class="submit-row">
        <strong>{% trans "Select Profile JSON File" %}</strong>
        <input name="profile_file" type="file" />
    </div>
    <div class="submit-row">
        <p class="deletelink-box"><a href="{% url "admin:profiles_profile_changelist" %}" class="deletelink">{% trans "Cancel" %}</a></p>
        <input type="submit" value="{% trans "Verify File" %}" class="default" name="export" />
    </div>
</form>
{% endblock %}