{% extends "./export.html" %}
{% load i18n %}

{% block content %}
<form method='post' action='.' enctype='multipart/form-data'>
    {% csrf_token %}
    <h1>{% trans "Review Profiles" %}</h1>
    <p>{% blocktrans %}Shown below is a list of profiles that will be added and
        updated from the import file. Please review, and if you wish to proceed,
        select the Import Profiles option below.{% endblocktrans %}</p>
    <input type='hidden' name='process' value='1' />

    <table>
        <tr>
            <th>{% trans "Profile Type" %}</th><th>{% trans "Profile" %}</th><td>{% trans "Action" %}</td>
        </tr>{% for prof in to_add %}<tr>
            <td>{% if prof.model == "profiles.profile" %}
                {% trans "Standard Profile" %}
            {% elif prof.model == "profiles.appprofile" %}
                {% trans "App Profile" %}
            {% endif %}</td>
            <td>{% if prof.model == "profiles.profile" %}
                {{ prof.fields.name }}
            {% elif prof.model == "profiles.appprofile" %}
                {% if prof.fields.filename %}{{ prof.fields.filename }}{% elif prof.fields.app_path %}{{ prof.fields.app_path }}{% else %}{{ prof.fields.manual_app_path }}{% endif %}
            {% endif %}</td><td>{% trans "Add Profile" %}</td>
        </tr>{% endfor %}{% for prof in to_change %}<tr>
            <td>{% if prof.model == "profiles.profile" %}
                {% trans "Standard Profile" %}
            {% elif prof.model == "profiles.appprofile" %}
                {% trans "App Profile" %}
            {% endif %}</td>
            <td>{% if prof.model == "profiles.profile" %}
                {{ prof.fields.name }}
            {% elif prof.model == "profiles.appprofile" %}
                {% if prof.fields.filename %}{{ prof.fields.filename }}{% elif prof.fields.app_path %}{{ prof.fields.app_path }}{% else %}{{ prof.fields.manual_app_path }}{% endif %}
            {% endif %}</td><td>{% trans "Update Existing Profile" %}</td>
        </tr>{% endfor %}
    </table>

    <div class="submit-row">
        <p class="deletelink-box"><a href="{% url "admin:profiles_profile_changelist" %}" class="deletelink">{% trans "Cancel" %}</a></p>
        <input type="submit" value="{% trans "Confirm and Import Profiles" %}" class="default" name="export" />
    </div>
</form>
{% endblock %}