{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'home' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{#{% if valid_client %}<span>{{ valid_client }}</span>{% else %}{% trans "NO VALID MSR SERVER :-(" %}{% endif %}#}
{% endblock %}

{% block nav-global %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'home' %}">{% translate 'Home' %}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
{% endblock breadcrumbs %}

{% block messages %}
    {% comment %}
    {% if not messages %}
    {% if not valid_client %}
    <ul class="messagelist">
        <li class="error">{% blocktrans %}Unable to connect to MSR service, so I will not be able to apply any profiles. :'(<br />If the problem persists on refreshing the page, please check any configuration and {% endblocktrans %}<a href='{% url "logs" %}'>{% trans "refer to the logs" %}</a>{% blocktrans %} for further information.{% endblocktrans %} </li>
    </ul>
    {% endif %}
    {% endif %}
    {% endcomment %}
    {{ block.super }}
{% endblock messages %}

{% block welcome-msg %}
    {% translate "MSR administration" %}
{% endblock %}
{% block userlinks %}
    <span style='font-size: 150%;'>
        {% if site_url %}
            <a href="{{ site_url }}">{% translate 'Status Dashboard' %}</a> /
        {% endif %}
        {% if user.has_usable_password %}
        <a href="{% url 'admin:password_change' %}">{% translate 'Change password' %}</a> /
        {% endif %}
        <a href="{% url 'admin:logout' %}">{% translate 'Log out' %}</a>
    </span>
{% endblock %}
{% block extrahead %}
    {{ block.super }}
    
    <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'js/pick-app-widget.js' %}" defer></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/pick-app-widget.css" %}">
{% endblock %}