{% include "django/forms/widgets/input.html" %}
{% load i18n %}
&nbsp;<a class="pick-app" data-pick-app href="#">{% block pick_text %}{% trans "Pick Application" %}{% endblock %}</a>
<script>
    (function($) {
        if(typeof(window.pickAdded) !== "undefined") {
            return;
        }
        $('body').on('click', '[data-pick-app]', function( ) {
            window.selectorPopup = window.open(
                "{% url "select-app-popup" %}{% block get_vars %}{% endblock %}",
                "_blank",'app-select',
                'width=1050,height=650,directories=no,titlebar=no,toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=no'
            );
        
            return false;
        });
        window.pickAdded = true;
    })(django.jQuery);
    window.selectApplicationInputs = function(input_values) {
        var $ = django.jQuery;
        {% block on_input_func %}
        if(input_values.length) {
            var iv = input_values[0];
            var type = iv[0].split("-")[1];
            var match = iv[1];
            $("[name='{{ widget.name }}']").val(match);
            var mt = $("[name='{{ widget.name }}']").closest("form").find("[name=match_type]");
            mt.find("option").each(function(i) {
                if($(this).val( ) == type) {
                    mt[0].selectedIndex = i;
                }
            });
        }
        {% endblock %}
        if(window.selectorPopup) window.selectorPopup.close( );
    };
</script>