{% load i18n %}
{% if valid_client %}
<table id='client_list' style='width: 100%; display: none;'>
    <tr>
        <th>{% trans "Server Protocol Version" %}</th>
        <td colspan='2'>{{ valid_client.version }}</td>
    </tr>
    <tr>
        <th>{% trans "Controller Support" %}</th>
        <td>{{ valid_client.supported_handlers|length }} {% trans "supported handler controller" %}{{ valid_client.supported_handlers|length|pluralize }}</td>
        <td>{% if valid_client.unsupported_handlers %}{{ valid_client.unsupported_handlers|length }} {% trans "unsupported handler controller" %}{{ valid_client.unsupported_handlers|length|pluralize }}{% endif %}</td>
    </tr>
    {% if valid_client.supported_handlers %}{% for handler in valid_client.supported_handlers %}
        <tr><th>{% if forloop.first %}{% trans "Supported Controllers" %}{% endif %}<th>{% trans "Controller Name" %}</th><td>{{ handler.name }}</td></tr>
        <tr><td></td><th>{% trans "Controller Class" %}</th><td>{{ handler.class }}</td></tr>
        <tr><td></td><th>{% trans "Register Host Support" %}</th><td>{{ handler.supported_registers|length }} {% trans "register" %}{{ handler.supported_registers|length|pluralize }} ({% if not handler.unsupported_registers %}{% trans "Complete" %}{% else %}{% trans "Partial" %}{% endif %} {% trans "Support" %})</td></tr>
        <tr><td colspan='2'></td><td><table>
        {% for reg in handler.supported_registers %}<tr>
            <th>{{ reg.short_name }}</th><td>{{ reg.name }}</td><td><strong>{% if reg.rw %}{% trans "Read/Write" %}{% else %}{% trans "Read Only" %}{% endif %}</strong></td>

        {% endfor %}</td></table></tr>
        {% if handler.unsupported_registers %}<tr><td></td><th>{% trans "Unsupported Registers" %}</th><td>{{ handler.unsupported_registers|length }} {% trans "unsupported register" %}{{ handler.unsupported_registers|length|pluralize }}</td></tr>
        <tr><td colspan='2'></td><td><table>
        {% for reg in handler.unsupported_registers %}<tr>
            <th>{{ reg.short_name }}</th><td>{{ reg.name }}</td><td>

        {% endfor %}</td></table></tr>{% endif %}
        {% if handler.support_issues %}{% for sup in handler.support_issues %}<tr>
            <th>{% if forloop.first %}{% trans "Support reasons and issues" %}{% endif %}</th>
            <td colspan='2'>{{ sup }}</td>
        </tr>{% endfor %}{% endif %}
    <tr><td colspan='3'><hr /></td></tr>{% endfor %}
    {% endif %}
    {% if valid_client.unsupported_handlers %}{% for handler in valid_client.unsupported_handlers %}
        <tr><th>{% if forloop.first %}{% trans "Unsupported Controllers" %}{% endif %}<th>{% trans "Controller Name" %}</th><td>{{ handler.name }}</td></tr>
        <tr><td></td><th>{% trans "Controller Class" %}</th><td>{{ handler.class }}</td></tr>
        {% if handler.support_issues %}{% for sup in handler.support_issues %}<tr>
            <th>{% if forloop.first %}{% trans "Support reasons and issues" %}{% endif %}</th>
            <td colspan='2'>{{ sup }}</td>
        </tr>{% endfor %}{% endif %}
        <tr><td colspan='3'><hr /></td></tr>{% endfor %}
    {% endif %}
</table>
<p><a id='show_service' href='#'>{% trans "Show Full Service Details" %}</a></p>
<script>
    document.getElementById("client_list").style.display = "none";
    document.getElementById("show_service").addEventListener("click", function(ev) {
        ev.preventDefault( );
        document.getElementById("client_list").style.display = "";
        this.parentNode.removeChild(this);

    });
</script>
{% endif %}