{% extends "admin/change_list.html" %}
{% load i18n %}
{% block object-tools-items %}
    {{ block.super }}
    <li>
        <a href="{% url "admin:export_profiles" %}">
            {% trans "Export Profiles" %}
        </a>
    </li>
    <li>
        <a href="{% url "admin:import_profiles" %}">
            {% trans "Import Profiles" %}
        </a>
    </li>
{% endblock %}