{% load i18n %}
<p>{% if current_log_level %}{% trans "Current showing log messages including and above" %} <em>{{ current_log_level }}</em> {% trans "level." %} | {% endif %}
{% trans "Show only logs above" %} 
<a href='?{% if request.GET.all %}all=1&amp;{% endif %}{% if request.GET.filter %}filter={{ request.GET.filter }}&amp;{% endif %}level=DEBUG'>{% trans "DEBUG" %} </a> | 
<a href='?{% if request.GET.all %}all=1&amp;{% endif %}{% if request.GET.filter %}filter={{ request.GET.filter }}&amp;{% endif %}level=INFO'>{% trans "INFO" %} </a> | 
<a href='?{% if request.GET.all %}all=1&amp;{% endif %}{% if request.GET.filter %}filter={{ request.GET.filter }}&amp;{% endif %}level=WARNING'>{% trans "WARNING" %} </a> | 
<a href='?{% if request.GET.all %}all=1&amp;{% endif %}{% if request.GET.filter %}filter={{ request.GET.filter }}&amp;{% endif %}level=ERROR'>{% trans "ERROR" %} </a> {% trans "levels" %}
</p>
<p>{% if current_filter %}{% trans "Filtering to show only" %} <em>{{ current_filter }}</em> {% trans "logs." %} | {% endif %}
{% trans "Show only logs from" %} 
{% for fn, name in log_files %}<a href='?{% if request.GET.all %}all=1&amp;{% endif %}{% if request.GET.level %}level={{ request.GET.level }}&amp;{% endif %}filter={{ name }}'>{{ name }}</a>{% if not forloop.last %} | {% endif %}{% endfor %}
{% if current_filter %} | <a href='?{% if request.GET.all %}all=1&amp;{% endif %}{% if request.GET.level %}level={{ request.GET.level }}{% endif %}'>{% trans "(Reset Filter)" %}</a>{% endif %}
</p>