{% load i18n %}
<div class='results' style='width: 100%; overflow: auto;'>
    <table id='result_list'>
        <thead><tr>
            <th scope="col">{% trans "Service" %}</th>
            <th scope="col">{% trans "Date/Time" %}</th>
            <th scope="col">{% trans "Level" %}</th>
            <th scope="col">{% trans "Module" %}</th>
            <th scope="col">{% trans "Message" %}</th>
        </tr></thead>
        <tbody>{% for row in object_list %}<tr style='background-color: {% if row.level == "ERROR" %}#ffefef{% elif row.level == "WARNING" %}#ffc{% elif row.level == "INFO" %}#efefff{% endif %};'>
            <td>{{ row.type }}</td>
            <td>{{ row.timestamp|date:"Y/m/d H:i:s,u" }}</td>
            <td>
                <span>
                    {{ row.level }}
                </span>
            </td>
            <td>{{ row.thread }}</td>
            <td style='width: 60%;'><span style='font-family: Terminal, "Courier New", Courier, monospace;'>{{ row.message }}</span></td>
        </tr>{% endfor %}</tbody>
    </table>
</div>