{% load i18n %}
<p>
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1{% if request.GET.all %}&amp;all=1{% endif %}">&laquo; {% trans "First Page" %}</a> |  
            <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.all %}&amp;all=1{% endif %}">{% trans "Previous Page" %}</a>
        {% endif %}

        <span class="current">
         | Showing Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} |
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% if request.GET.all %}&amp;all=1{% endif %}">{% trans "Next Page" %}</a>
            <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.all %}&amp;all=1{% endif %}">{% trans "Last Page" %} &raquo;</a>
        {% endif %}
    </span>
</p>