{% extends "admin/base.html" %}
{% load i18n static %}
{% load client %}
{% block title %}{{ site_title }}{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'home' %}">{% translate 'Home' %}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
</div>
{% endblock %}
{% block branding %}
<h1 id="site-name"><a href="{% url 'home' %}">{% if site_title %}{{ site_title }}{% else %}{% trans "CPU Profile Switcher" %}{% endif %} v{{ version }}</a></h1>
{#{% if valid_client %}<span>{{ valid_client }}</span>{% else %}{% trans "NO VALID SERVER" %}{% endif %}#}
{% endblock %}
{% block usertools %}
<div id="user-tools">
    <a href="{% url 'admin:index' %}"><span style='font-size: 130%;'>{% translate 'Admin and Configuration' %}</span></a> / 
    <a href="{% url 'logs' %}"><span style='font-size: 130%;'>{% translate 'System Logs' %}</span></a> / 
    <a href='/docs/index.html' target='_blank'><span style='font-size: 130%;'>{% trans "Help/Docs" %}</span></a>
</div>
{% endblock %}

{% block content %}
{% block client %}
{% validate_client as valid_client %}
<h1>{% trans "MSR Service Status" %}</h1>
<ul class='messagelist'>
{% if valid_client %}
<li class='{% if valid_client.degraded_support %}warning{% else %}success{% endif %}'>{% trans "Connected to" %} {{ valid_client.connect_info }} {% if valid_client.degraded_support %}<br />{% trans "The server does indicate that some functionality is not supported on your platform and may not work correctly. The below 'Full Service Details' link, and log files will contain further information." %}{% endif %}<br /><a href='{% url "logs" %}'>{% trans "View Logs" %}</a></li>
{% else %}
<li class='error'>{% blocktrans %}Cannot connect to the MSR service, or it is busy. I will not be able to apply any profiles. If this message persists upon refreshing the page, view the logs and/or Windows Services Panel (services.msc) for further information.{% endblocktrans %} <a href='{% url "logs" %}'>{% trans "View Logs" %}</a></li>
{% endif %}
{% include "client/support-info.html" %}
</ul>
{% endblock %}
{% block page_content %}

{% if current_settings %}
<div class='results' style='width: 49%; overflow: auto; float: left; margin-right: 1%;'>

    <h1>{% trans "Current Settings" %}</h1>
    <table id='result_list'>
        {% for group_name, regs in current_settings %}<tr>
            <th>{{ group_name }}</th>
            <td>{% for reg in regs %}{{ reg }}{% if not forloop.last %}<br />{% endif %}{% endfor %}</td>
        </tr>{% endfor %}<tr>
            <th></th>
            <td>
                {% if not request.GET.full %}<a href='?full=1'>{% trans "View Full and Detailed List of Current Settings" %}</a><br />{% endif %}
                <a href='{% url "admin:profiles_profile_add_from_current" %}'>{% trans "Add Profile from Current Settings" %}</a>
            </td>
        </tr>
    </table>
</div>
<br />
{% endif %}
{% if profile_logs %}
<div class='results' style='width: 49%; overflow: auto; float: left; margin-right: 1%;'>

    <h1>{% trans "Recent Profiles" %}</h1>
    <table id='result_list'>
        <thead><tr>
            <th>{% trans "Success" %}</th>
            <th>{% trans "Date/time" %}</th>
            <th>{% trans "Type" %}</th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Reason" %}</th>
        </tr></thead>
        {% for log in profile_logs %}<tr>
            <td>{% if log.success %}
                <img src="{% static "admin/img/icon-yes.svg" %}" alt="{% trans "Yes" %}" /> {% trans "Yes" %}
            {% else %}
                <img src="{% static "admin/img/icon-no.svg" %}" alt="{% trans "No" %}" /> {% trans "No" %}
            {% endif %}</td>
            <td>{{ log.applied|date:"Y/m/d H:i:s" }}</td>
            <td>{% if log.profile.appprofile %}{% trans "App" %}{% else %}{% trans "Standard" %}{% endif %}</td>
            <td>{{ log.profile_name }}</td>
            <td>{{ log.get_type_display }}</td>
        </tr><tr>
            <td></td>
            <td colspan='3'>{{ log.messages }}</td>
            <td><a href='{% url "admin:profiles_profilelog_change" log.pk %}'>{% trans "All Details" %} &raquo;</a></td>
        </tr>{% endfor %}
    </table>
    <p><a href='{% url "admin:profiles_profilelog_changelist" %}'>{% trans "View all Recent Profiles" %}</a></p>
</div>
<div style='clear: both;'></div>
<br />
<br />
{% endif %}


<h1>{% trans "Available/Configured Standard Profiles" %}</h1>
{% if has_more_profiles %}
<ul class='messagelist'>
    <li class='warning'>{% trans "Currently showing the first" %} {{ profiles.count }} {% trans "profiles. Use the view and configure link below to view all" %} {{ has_more_profiles }} {% trans "profiles." %}</li>
</ul>
{% endif %}
{% if not profiles.count %}
<ul class='messagelist'>
<li class='warning'>{% blocktrans %}No profiles have been configured yet.{% endblocktrans %}
    <a href='{% url "admin:profiles_profile_changelist" %}'>{% trans "Add and Configure Standard Profiles" %}</a>
</li></ul>
{% else %}
{% include "profiles/detail_list.html" with object_list=profiles %}
{% endif %}

<div style='width: 48%; float: left; margin-left: 1%;'>
<h1>{% trans "Default Application Profiles" %}</h1>
<p>
    {% trans "Currently" %} {{ appdef_profiles.count }} {% trans "profile" %}{{ appdef_profiles.count|pluralize }} {% trans "application folders have defaults configured." %}
    <a href='{% url "setup-app-profiles" %}'>{% trans "Add default profile" %}</a> | <a href='{% url "admin:profiles_appprofile_changelist" %}?match_type__exact=defl'>{% trans "View and change default profiles" %}</a>'
</p>
<h1>{% trans "Advanced Application Profiles" %}</h1>
<p>
    {% trans "Currently" %} {{ app_profiles.count }} {% trans "advanced application profile" %}{{ app_profiles.count|pluralize }} {% trans "are configured." %}
    <a href='{% url "admin:profiles_appprofile_changelist" %}'>{% trans "View, add and change advanced application profiles" %}</a>'
</p>
</div>
<div style='clear: both;'></div>
{% if object_list %}
<h1>{% trans "Recent Log Messages" %}</h1>
<p><a href='{% url "logs" %}'>{% trans "View More Logs" %}</a></p>
{% include "logs/log_list.html" %}
<p><a href='{% url "logs" %}'>{% trans "View More Logs" %}</a></p>
{% endif %}
{% endblock page_content %}
{% endblock content %}