{% extends "index.html" %}
{% load i18n %}

{% block title %}{% trans "View More Logs" %} | {{ site_title }}{% endblock %}


{% block content %}
<h1>{% trans "Log Messages" %}</h1>
{% include "logs/filters.html" %}
{% if object_list %}
<p><a href='?download=1'>{% trans "Download Combined Logfile" %}</a></p>
{% include "logs/pagination.html" %}
{% if loglimit_lines %}
    <p>{% blocktrans %}Please note, only showing up to {{ loglimit_lines }} log lines per service for performance reasons. You may view all logs using the following link,
        but please be aware the page may take some time to load depending on the size of your log files.{% endblocktrans %}</p>
    <p><a href='?all=1{% if current_log_level %}&amp;level={{ current_log_level }}{% endif %}{% if current_filter %}&amp;filter={{ current_filter }}{% endif %}'>{% trans "View All Logs" %}</a></p>
{% endif %}
{% include "logs/log_list.html" %}
{% include "logs/pagination.html" %}
{% else %}<p><strong>{% trans "No log messages to show." %}</strong></p>{% endif %}
{% include "logs/filters.html" %}
{% endblock %}