{% extends "./app-profile-wizard.html" %}
{% load i18n %}
{% load render_form_field %}

{% block form_content %}
    <h2>{% trans "Set Profiles For" %} <em>{{ form.main_folder }}</em></h2>
    <p>{% blocktrans %}
        You can set one or more defaults for all apps that are contained in this folder, which will automatically
        be applied when the system detects a relevant app is launched. If you choose multiple profiles, the system
        will determine which one to apply based on their priority and any applicable rules (such as whether the
        profile should only be active on AC / DC power).{% endblocktrans %}
    </p><p>{% blocktrans %}Leave the list blank to remove any defaults. You can use ctrl and click to select 
        multiple profiles, or to remove existing defaults.{% endblocktrans %}</p>
    <p>{% blocktrans %}You can also choose specific profiles for individual apps within this folder, by using the controls below.
        Leaving the lists blank for individual apps will cause the default for this folder to be utilised.
    {% endblocktrans %}</p>
    <p>
        {% trans "Please note, any app-specific profiles will still override these, and can be configured" %}
        <a href='{% url "admin:profiles_appprofile_changelist" %}'>{% trans "within the administration system" %}</a>.
    </p>
    {% if form.errors %}<ul class='messagelist'>
        <li class='error'>{% trans "Please choose a default profile to assign." %}</li>
    </ul>{% endif %}
    <table class='wizard-form' style='width: 100%;'><tr>
        <th style='width: 50%;'><h3>{% trans "Default for All Apps" %}</h3></th>
        <td>{{ form.default }}</td>
    </tr></table>
    <h3><a id='show' href='#'>{% trans "Specific Profile For App Folders" %}</a> <em class="showmsg">({% trans "Click to Show" %})</em></h3>
    <table id='spec' class='wizard-form' style='width: 100%;'>
        {% for folder, fields in form.folder_fields.items %}
            <tr>
                <th><span style='font-size: 150%;'>{{ folder }}</span></th>
            </tr>
            {% for field in fields %}<tr{% if field.label %} class='hider'{% endif %}>
                <td colspan='2' style='width: 50%;'>{% if not field.label %}<strong style='margin-left: 5em;'>{% trans "* All Apps In This Folder" %}</strong>{% else %}{{ field.label }}{% endif %}<br />
                    <em style='margin-left: 5em; margin-top: 0.5em;'>{% trans "Leave this list blank to use the folder defaults selected above." %}</em>
                </td>
                <td>
                    {% render_named_field form field.full_folder %}
                </td>
            </tr>{% endfor %}
        {% endfor %}
    </table>
    <hr />
{% endblock form_content %}
{% block buttons %}<div class='submit-row'>

    {% if wizard.steps.prev %}
    <input type="submit" value="{% trans "Save Profiles" %}" />
    <p class='deletelink-box'>
        <a class='deletelink' href='{% url "setup-app-profiles" %}'>{% trans "Back to Folder Choice" %}</a>
    </p>
    {% endif %}
    <script>
        document.getElementById("spec").style.display = "none";
        document.getElementById("show").addEventListener("click", function(ev) {
            ev.preventDefault( );
            document.getElementById("spec").style.display = "";
            document.getElementById(".showmsg").style.display = "none";

        });
    </script>
</div>{% endblock buttons %}