{% extends "admin/base_site.html" %}
{% load i18n %}
{% block content %}
<script>
    window.select_multiple = {% if multiple %}true{% else %}false;{% endif %};
</script>
<div class='buttons'>
    <a class='button' data-type='main'>{% trans "Main Running Apps" %}</a>
    <a class='button' data-type='running'>{% trans "All Running Apps" %}</a>
    <a class='button' data-type='installed'>{% trans "Installed Apps" %}</a>
</div>
<div class='app-picker'>
    {{ block.super }}
    <form>
        <fieldset class='running'>
            <legend>{% trans "Running Applications" %}</legend>
            <p>{% blocktrans %}
                Shown below is a list of running applications, window titles, and executable paths. 
            {% endblocktrans %}
                {% if multiple %}{% blocktrans %}
                Select multiple items you wish to add to this process group, and select the <strong>Add</strong> button.
                {% endblocktrans %}{% else %}{% blocktrans %}
                Choose the item you wish to use to identify this application, and select the <strong>Add</strong> button.
                {% endblocktrans %}{% endif %}<br /><br />
            {% blocktrans %}Please note, the type of item you choose to identify this application will change how the system matches
                it. <br>
                <strong>Application Window Name</strong>: Selecting a window name will cause the system to match when a window opens with this
                name, regardless of where the application is stored. This is useful for creating portable profiles which
                do not care about where a program is installed.<br />
                <strong>Application Filename</strong>: Alternatively, choose a Filename to cause the system to match when
                an application is launched with this executable filename <strong>regardless</strong> of where
                it is installed. Whilst more portable than the entire path, this does mean if two applications
                share the same filename the system could identify this incorrectly.<br />
                <strong>Full Application Path</strong>: Finally, choose an application path to cause the system
                to match when an application is launched with only the exact full path. This means 
                if the same application is moved to a different drive or folder the system will no
                longer match it.
            {% endblocktrans %}</p>
            <table class='app-table'>
                <thead><tr>
                    <th></th>
                    <th>{% trans "Application" %}</th>
                    <th>{% trans "Type" %}</th>
                </tr></thead>
                {% for app in running %}<tr class='title-row'>
                    <td></td>
                    <td><h4>{% if app.Title and app.Title != app.Name %}{{ app.Title }} ({{ app.Name }}){% else %}{{ app.Name }}{% endif %}</h4></td>
                    <td></td>
                </tr>{% if app.Windows %}{% for window in app.Windows %}<tr>
                    <td><input type='checkbox' name='app-name' value='{{ window.text }}' /></td>
                    <td><strong>[{{ app.Title }}] </strong>{{ window.text }}</td>
                    <td>{% trans "Application Window Name" %}</td>
                </tr>{% endfor %}{% endif %}<tr>
                    <td><input type='checkbox' name='app-exe' value='{{ app.Name }}' /></td>
                    <td><pre>{{ app.Name }}</pre></td>
                    <td>{% trans "Application Filename" %}</td>
                </tr><tr>
                    <td><input type='checkbox' name='app-path' value='{{ app.ExecutablePath }}' /></td>
                    <td><pre>{{ app.ShortExecutablePath }}</pre></td>
                    <td>{% trans "Full Application Path" %}</td>
                </tr>{% endfor %}
            </table>
        </fieldset>
        <fieldset class='installed'>
            <legend>{% trans "Installed Applications" %}</legend>
            <p>{% blocktrans %}
                Shown below is a list of installed applications and executable paths. If an application
                is not listed in this list but you expect it to be, it could have not yet been installed.
                This particularly applies to Steam games that have been downloaded but not yet run for
                the first time.
            {% endblocktrans %}
                {% if multiple %}{% blocktrans %}
                Select multiple items you wish to add to this process group, and select the <strong>Add</strong> button.
                {% endblocktrans %}{% else %}{% blocktrans %}
                Choose the item you wish to use to identify this application, and select the <strong>Add</strong> button.
                {% endblocktrans %}{% endif %}<br /><br />
            {% blocktrans %}Please note, the type of item you choose to identify this application will change how the system matches
                it. <br>
                <strong>Application Filename</strong>: Alternatively, choose a Filename to cause the system to match when
                an application is launched with this executable filename <strong>regardless</strong> of where
                it is installed. Whilst more portable than the entire path, this does mean if two applications
                share the same filename the system could identify this incorrectly.<br />
                <strong>Full Application Path</strong>: Choose an application path to cause the system
                to match when an application is launched with only the exact full path. This means 
                if the same application is moved to a different drive or folder the system will no
                longer match it.<br />
                <strong>Any Application</strong>: Finally, choosing this option will cause any 
                executables contained within this application folder to match regardles of the
                application filename.
            {% endblocktrans %}</p>
            <table class='app-table'>
                <thead><tr>
                    <th></th>
                    <th>{% trans "Application" %}</th>
                    <th>{% trans "Type" %}</th>
                </tr></thead>
                {% for title, paths in installed %}<tr class='title-row'>
                    <th></th>
                    <th>{{ title }}</th>
                    <th></th>
                </tr>{% for path in paths %}{% if "**" in path.0 %}<tr>
                    <td><input type='checkbox' name='app-defl' value='{{ path.0 }}' /></td>
                    <td><em>{% trans "Any Executable in this Path" %}</em></td>
                    <td>{% trans "Any Application" %}</td>
                </tr>{% else %}<tr>
                    <td><input type='checkbox' name='app-path' value='{{ path.0 }}' /></td>
                    <td>{{ path.0 }}</td>
                    <td>{% trans "Full Application Path" %}</td>
                </tr><tr>
                    <td><input type='checkbox' name='app-exe' value='{{ path.1 }}' /></td>
                    <td>{{ path.1 }}</td>
                    <td>{% trans "Application Filename" %}</td>
                </tr>
                {% endif %}{% endfor %}
                {% endfor %}
            </table>
        </fieldset>
    </form>
</div>
<div class='select-button'>
    <a class='button' data-type='select'>{% trans "Select Application" %}{% if multiple %}{% trans "s" %}{% endif %}</a>
</div>
{% endblock %}