{% extends "index.html" %}
{% load i18n %}

{% block extrastyle %}
{{ wizard.form.media }}
{% endblock %}

{% block page_content %}
<h2>{% trans "Set Default Folder Profiles" %}</h2>
<p>{% blocktrans %}
    You can set a default for all apps that are contained in a folder, and it will automatically be 
    applied when the system detects one is launched.
{% endblocktrans %}</p>
<form method='post' action='.' novalidate>
    {% csrf_token %}
    {{ wizard.management_form }}
    {% block form_content %}
    <table class='wizard-form'>
        {{ form.as_table }}
    </table>
    {% endblock form_content %}
    {% block buttons %}<div class="submit-row">
    {% if wizard.steps.next %}
    <input type="submit" value="{% trans "Continue" %} "/>
    {% endif %}
    </div>{% endblock buttons %}
</form>
{% endblock page_content %}