{% load i18n static %}
<div class='results' style='width: 50%; overflow: auto; float: left;'>
    <table id='result_list'>
        <thead><tr>
            <th scope="col">{% trans "Active" %}</th>
            <th scope="col">{% trans "Type" %}</th>
            <th scope="col">{% trans "Name" %}</th>
            <th scope="col">{% trans "Priority" %}</th>
            <th scope="col">{% trans "Automation Details" %}</th>
            <th scope="col"></th>
        </tr></thead>
        <tbody>{% for row in object_list %}<tr>
            <td>{% if row.active %}
                <img src="{% static "admin/img/icon-yes.svg" %}" alt="{% trans "Yes" %}" /> {% trans "Yes" %}
            {% else %}
                <img src="{% static "admin/img/icon-no.svg" %}" alt="{% trans "No" %}" /> {% trans "No" %}
            {% endif %}</td>
            <td>{% if row.appprofile %}{% trans "Application Profile" %}{% else %}{% trans "Standard Profile" %}{% endif %}</td>
            <td>{{ row.name }}{% if row.linked_profile %}<br /><strong>{% trans "Linked To" %} {{ row.linked_profile }}{% endif %}</strong></td>
            <td>{{ row.priority }}</td>
            <td>
                {% if row.appprofile %}
                {% trans "Apply on App Launch:" %}<br />
                <abbr title="{{ row.appprofile.app }}">{% if row.appprofile.filename == "**" %}{% trans "Any App In This Path (Hover For Path)" %}{% else %}{{ row.appprofile.filename }}{% endif %}</abbr><br />
                {% trans "Match Using" %} {{ row.appprofile.get_match_type_display }}<br />
                {% trans "When App Is Closed Apply" %} <em>{{ row.appprofile.get_reset_profile_display }}</em><br />
                {% else %}
                {% if row.apply_on_boot %}{% trans "Apply on boot" %}<br />{% endif %}
                {% if row.apply_on_power %}{% trans "When power status is" %} <em>{{ row.get_apply_on_power_display }}</em><br />{% endif %}
                {% if row.apply_on_video_adapters %}{% trans "When at least" %} <em>{{ row.apply_on_video_adapters }} {% trans "GPU" %}{{ row.apply_on_video_adapters|pluralize }}</em> {% trans "are connected." %}{% endif %}
                {% endif %}
            </td>
            <td style='width: 10em;'>
                <a href='#' data-id="{{ row.pk }}" class="showProf">{% trans "Show Profile Details" %}</a>
                <a href='{% if row.appprofile %}{% url "admin:profiles_appprofile_change" row.pk %}{% else %}{% url "admin:profiles_profile_change" row.pk %}{% endif %}'>{% trans "Change or Apply" %}</a>
            </td>
        </tr><tr style="display: none;" id="row-{{ row.pk }}">
            <td colspan='5'>
                {% include "profiles/detail_html.html" %}
            </td>
            <td></td>
        </tr>{% endfor %}</tbody>
    </table>
    <script>
        var els = document.getElementsByClassName("showProf");
        for(var i = 0; i < els.length; i++) { 
            var el = els[i];
            el.addEventListener("click", function(ev) {
                ev.preventDefault( );
                var id = "row-"+this.getAttribute("data-id");
                var el = document.getElementById(id);
                if(el) el.style.display = "";
            });
        }
    </script>
    <p><a href='{% url "admin:profiles_profile_changelist" %}'>{% trans "View and Configure Standard Profiles" %}</a></p>
</div>