{% load i18n %}
<div class='results' style='width: 100%; overflow: auto;'>
    <table id='result_list'>
        <thead><tr>
            <th scope="col">{% trans "Date/Time" %}</th>
            <th scope="col">{% trans "Profile Name" %}</th>
            <th scope="col">{% trans "Details" %}</th>
        </tr></thead>
        <tbody>{% for row in object_list %}<tr>
            <td>{{ row.applied|date:"Y/m/d H:i:s,u" }}</td>
            <td>{{ row.profile }}{% if not row.profile %}{% trans "Unknown (Deleted)" %}{% endif %}</td>
            <td style='width: 60%;'>
                {% include "profiles/detail_html.html" %}
            </td>
        </tr>{% endfor %}</tbody>
    </table>
</div>